@model BlutChain.Models.Telefone

@using (Html.BeginForm("CadastrarTelefone", "Telefone", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
<fieldset>
    <legend>Cadastrar Telefone</legend>

    <b>Tipo Telefone: </b>
    <br>
    <div class="form-group">
        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Tipo", new List<SelectListItem>
            {
                new SelectListItem{ Text = "Residencial", Value = "Residencial"},
                new SelectListItem{ Text = "Celular", Value = "Celular"},
            }, "Selecione o Tipo de Telefone")
        </div>
    </div>
    <br>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control", @placeholder = "Número do Usuário" } })
            @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
        </div>
    </div>
</fieldset>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" value="Cadastrar"
                   class="btn btn-primary">
        </div>
    </div>
}

