@using BlutChain.Models
@model List<Telefone>

@{
    DateTime data = ViewBag.Data;
}

<class="formulario">
    <h2>Gerenciamento de Telefones</h2>

    @Html.ActionLink("Cadastrar Telefone", "CadastrarTelefone", "Telefone")

    <table class="table" style="margin-left: 45px ; max-width:50%;">
        <tr>
            <th>Tipo</th>
            <th>Número</th>
            <th></th>
        </tr>
        @foreach (Telefone telefone in Model)
        {
            <tr>
                <td>@telefone.Tipo </td>
                <td>@telefone.Numero</td>

                <td>
                    @Html.ActionLink("Alterar", "AlterarTelefone", "Telefone",
                       new { id = telefone.IdTelefone }, null)
                </td>

                <td>
                    @Html.ActionLink("Remover", "RemoverTelefone", "Telefone",
                    new { id = telefone.IdTelefone }, null)
                </td>
            </tr>
        }
    </table>

    <p>Dados atualizados às: <b> @data </b></p>

</class>






