<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/jquery-3.4.1.js" rel="stylesheet" />
    <link href="~/Scripts/bootstrap.js" rel="stylesheet" />



</head>
<body>
    @RenderPage("~/Views/Shared/_Header.cshtml")

    @RenderBody()


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        //A function gera o mapa com as especificações de zoom e tipo de mapa e atrás do id 'map' manda as informações para o AgendamentoDetalhe
        var geocoder;
        var map;
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });
            //Trazendo a latitude e longitude
            codeAddress();
        }

        //Recebe as infomações passadas na página AgendamentoDetalhe para gerar o mapa e marcador e transforma em lagitude e longitude para o método Geometry, caso o endereço passado
        //por parâmetro esteja correto ele retorna o mapa e marcador, caso dê erro, ele dá mensagem de erro no status
        function codeAddress() {
            geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': document.getElementById('address').value }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    map.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker(
                        {
                            map: map,
                            position: results[0].geometry.location
                        });
                }
                else {
                    alert('Mapa não foi gerado com sucesso, erro: ' + status);
                }
            });
        }
    </script>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpbsdLaCvNpC0jObCLKvRSH8eFXwuZ5Yk&callback=initMap">
    </script>




</body>
<footer>
    <!--Footer-->
    @RenderPage("~/Views/Shared/_Footer.cshtml")
</footer>
</html>
