@model IEnumerable<BlutChain.Models.Usuario>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Cadastrar Usuário", "CadastrarUsuario")
</p>
<table class="table table-hover table-stripped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataNascimentoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SexoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PesoUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSanguineoUsuario.GrupoSanguineo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoSanguineoUsuario.FatorRH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoUsuario.Rua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoUsuario.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoUsuario.Bairro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoUsuario.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoUsuario.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnderecoUsuario.CEP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefoneUsuario)
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPFUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataNascimentoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SexoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PesoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSanguineoUsuario.GrupoSanguineo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoSanguineoUsuario.FatorRH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoUsuario.Rua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoUsuario.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoUsuario.Bairro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoUsuario.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoUsuario.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnderecoUsuario.CEP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneUsuario.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefoneUsuario.Numero)
        </td>
    </tr>
    }

</table>

