@using BlutChain.Models
@model List<Hemobanco>
@{
    data = ViewBag.Data;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Gerenciamento de Hemobancos</h2>
    <table class="table table-hover table-striped"
           style="margin-top:30px">
        <tr>
            <th>Razão Social</th>
            <th>Nome Fantasia</th>
            <th>Telefone</th>
            <th></th>
            <th></th>
        </tr>
        @foreach (Hemobanco hemobanco in Model)
        {
            <tr>
                <td>@hemobanco.RazaoSocialHemobanco</td>
                <td>@hemobanco.NomeFantasiaHemobanco</td>
                <td>@hemobanco.TelefoneHemobanco.Numero (@hemobanco.TelefoneHemobanco.Tipo)</td>

                <td>
                    @Html.ActionLink("Alterar", "AlterarHemobanco", "Hemobanco",
                       new { id = hemobanco.IdHemobanco }, null)
                </td>

                <td>
                    @Html.ActionLink("Remover", "ExcluirHemobanco", "Hemobanco",
                    new { id = hemobanco.IdHemobanco }, null)
                </td>
            </tr>
        }
    </table>

    <p>Dados atualizados às: <b> @data </b></p>

</div>



