@model BlutChain.Models.Agendamento

<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Hemobanco
        </th>
        <th>
            Endereço
        </th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(modelItem => Model.DataAgendamento) @Model.HorarioAgendamento</td>
        <td> @Model.HemobancoAgendamento.NomeFantasiaHemobanco</td>
        <td> @Model.HemobancoAgendamento.Logradouro, @Model.HemobancoAgendamento.Numero - @Model.HemobancoAgendamento.Bairro, @Model.HemobancoAgendamento.Localidade - @Model.HemobancoAgendamento.Uf, CEP: @Model.HemobancoAgendamento.CEP </td>
    </tr>
