@model BlutChain.Models.Agendamento

@{
    ViewBag.Title = "RegistrarAgendamento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Agendamento</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.DataAgendamento, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataAgendamento, new { htmlAttributes = new { @class = "form-control", @placeholder = "dd/mm/aa" } })
            @Html.ValidationMessageFor(model => model.DataAgendamento, "", new { @class = "text-danger" })
        </div>
    </div>

    <b>Horário do Agendamento: </b>
    <div class="form-group">
        <div class="col-md-10">
            @Html.DropDownList("HorarioAgendamento",  new List<SelectListItem>
            {
                new SelectListItem{ Text = "09:00", Value = "9:00"},
                new SelectListItem{ Text = "09:30", Value = "9:30"},
                new SelectListItem{ Text = "10:00", Value = "10:00"},
                new SelectListItem{ Text = "10:30", Value = "10:30"},
                new SelectListItem{ Text = "11:00", Value = "11:00"},
                new SelectListItem{ Text = "11:30", Value = "11:30"},
                new SelectListItem{ Text = "13:00", Value = "13:00"},
                new SelectListItem{ Text = "13:30", Value = "13:30"},
                new SelectListItem{ Text = "14:00", Value = "14:00"},
                new SelectListItem{ Text = "14:30", Value = "14:30"},
                new SelectListItem{ Text = "15:00", Value = "15:00"},
                new SelectListItem{ Text = "15:30", Value = "15:30"},
                new SelectListItem{ Text = "16:00", Value = "16:00"},
                new SelectListItem{ Text = "16:30", Value = "16:30"},
                new SelectListItem{ Text = "17:00", Value = "17:00"},
                new SelectListItem{ Text = "17:30", Value = "17:30"},
             } , "Selecione", new { @class = "form-control" })
        </div>
    </div>

    <!-- trocar pelo dropdown que puxa os elementos do objeto-->
    <div class="form-group">
        @Html.LabelFor(model => model.HemobancoAgendamento.NomeFantasiaHemobanco, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.HemobancoAgendamento.NomeFantasiaHemobanco, new { htmlAttributes = new { @class = "form-control", @placeholder = "Unidade Hemobanco" } })
            @Html.ValidationMessageFor(model => model.HemobancoAgendamento.NomeFantasiaHemobanco, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UsuarioAgendamento.NomeUsuario, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UsuarioAgendamento.NomeUsuario, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nome do Usuário" } })
            @Html.ValidationMessageFor(model => model.UsuarioAgendamento.NomeUsuario, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Registrar" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
